<div id="contenedor">
  <p id="notice"><%= notice %></p>

  <h1>Lista de Empresas</h1>


   
      <% @posts.each do |empresa| %>
        <hr />
        <div class="entrada">
          <h2><%= empresa.nombre %></h2>
          <h3><%= empresa.descripcion %></h3>                    
        </div>
      <% end %>



  <br>
  <%= link_to 'Nuevo Post', new_empresa_path %>
</div>